<h3>Ajouter un Commentaire</h3>

<div class="well">

  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}

    {{ form_errors(form) }}

    

    <div class="form-group">
 
      {{ form_label(form.contenu, "Contenu de commentaire", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {{ form_errors(form.contenu) }}

      <div class="col-sm-4">

        {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}

      </div>

    </div>

  {# Génération du label + error + widget pour un champ #}

  {{ form_row(form.date) }}

  

  
  {{ form_rest(form) }}

  

  {# Fermeture de la balise <form> du formulaire HTML #}

  {{ form_end(form) }}

</div>
