{% extends "SNAnimeBundle::layout.html.twig" %}
{% block title %}

  Anime - {{ parent() }}

{% endblock %}
{% block anime_body %}

<h2> Liste des Animes </h2>
<ul>{% for anime in listanime %}
<div style =" height:300px; width:600px;  position:center;">
       <a href ="{{ path('sn_anime_view', {'id': anime.id}) }}"><img 

        src="{{ asset(anime.image.webPath) }}"WIDTH=700 HEIGHT=200

        alt="{{ anime.image.alt }}"/></a></div>
{%endfor%}</ul>
<ul style = "margin: 0; 
  padding: 0;
  list-style-type: none;
  text-align :center;">

  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}

  {% for p in range(1, nbPages) %}

    <li style ="display: inline-block; 
  margin: 0 0 0 20px;
  text-align :center; "{% if p == page %}  {% endif %}>

      <a style="text-decoration:none; padding:3px; border-width:1px; border-style:solid; border-color: white;" href="{{ path('sn_anime_home', {'page': p}) }}"><FONT COLOR="#FFFFFF">{{ p }}</a>

    </li>
  {% endfor %}

</ul>
{% endblock %}
